DATABASE_URL=
JWT_SECRET=
PORT=
FRONTEND_URL=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

GOOGLE_CLIENT_ID=

VNP_TMNCODE=
VNP_HASHSECRET=
VNP_URL=
VNP_RETURNURL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
